/* Only color definitions should be in this file, no styles! */

$textOnAccent: #FFFFFF;
$bg: #FFFFFF;
$gray: #F7F7F7;
$darkerGray: #DDDDDD;
$textOnGray: #707070;
$grayText: #909090;
$text: #000;

$emailBackground: #F5F5F5;

$alertBackground: #F9F6E7;
$alertBorder: #D4BC4C;

/*
 * Made from VK's blue palette by converting it to LCH, applying these formulas:
 * H=(H+208)%360
 * C=C*3;
 * and converting back to RGB
 * */

/* text */
$normalLink: #2B587A;
$boldHeaders: #45688E;
$auxiliaryGrey: rgb(119, 119, 119);
$auxiliaryBlockHeader: #AAB7C5;
$mailMessageRow: #8ea9c5;
$mailMessageRowUnreadTime: rgb(137, 149, 165);
$mailMessageRowDeleted: #7a8a98;
$mailHistorySelf: #93abc6;
$photoGripUpload: #758492;
$profileCounter: #8495a6;
$postLayerCommentsRestricted: #7688a1;
$photoAlbumsGridEmpty: rgb(132, 132, 90);

$darkGrey: #444444;
$sectionHeaderBorder: #CCCCCC;
$secondaryLink: #67829E;
/* separators */
$wallPostSeparator: #F1F1F1;
$menuItemsSeparator: #E7EAED;
$mainHeaderSeparator: #DAE1E8;
$wallCommentSeparator: #E9EDF1;
/* blocks */
$textAreaBorder: #C3CBD4;
$blockBorderTop: #d3dae0;
$blockBorderBottom: #d8dfe5;
$blockBackground: #DEE5EB;
$blockUnderboxBackground: rgb(241, 241, 241);
$bgGrey: rgb(247, 247, 247);
$repostBorderLeft: #C3D1E0;
$completionSelectedBackgroundColor: #667d9b;
$completionSelectedBorderColor: #4e5672;
$mailMessageRowUnreadBackgroundColor: #f4f9fb;
$mailMessageRowDeletedBackgroundColor: #f3fbff;
$mailMessageRowDeletedBorderColor: #ccdce9;
$photoGripUploadBackgroundColor: #eff1f3;
$notificationOwnReplyBackgroundColor: #eef1f5;
$notificationOwnReplyBorderColor: #d6dee7;
$notificationOwnReplyWallPostFormBackgroundColor: #e3e8ee;
$notificationOwnReplyWallPostFormBorderColor: #d3d7db;
$photoAlbumsGridEmptyBackgroundColor: #eaeef2;
$tokenBackgroundColor: #dce1e7;

/* button */
$buttonGradientBottom: #58789a;
$buttonBorder: #5980A9;
$buttonBorderTop: #789ABF;
$buttonGradientTop: #7593b7;

$buttonGrayBorder: #b3b3b3;
$buttonGrayGradientTop: #fafafa;
$buttonGrayGradientBottom: #d4d4d4;
$buttonGrayBorderInner: #e7e7e7;
$buttonGrayActive: #dcdcdc;

/* tabs */
$tabBackground: #597DA3;
$simpleButton: rgb(92, 120, 0);
$lightTabBorder: #c4cad2;
$lightTabBackground: #f6f7fa;
$secondaryTabBarBorder: #DAE1E8;
/* header */
$headerBorderTop: #45688E;
$headerGradientTop: #557497;
$headerBorderBottomDark: #45688E;
$headerGradientBottom: #6381a5;
$headerBorderBottomLight: #7d91b3;
/* icons */
$iconColor: #cbdae6;
$likeIconColor: rgb(219, 216, 173);
$lightIconColor: #b3c2d0;
$avaPlaceholderColor: rgb(122,147,173);
$avaPlaceholderBorderColor: #e0e7eb;
$avaPlaceholderOwnColor: rgb(232, 227, 187);
$avaPlaceholderOwnBackgroundColor: rgb(255, 248, 204);
$avaPlaceholderOwnBorderColor: rgb(255, 226, 34);
$privatePostLockIconColor: #bac6ce;
$postIconActionColor: #7fa2c4;
$photoAlbumsGridEmptyIconColor: rgb(200, 199, 161);
$groupLinkPlaceholderIconBackgroundColor: #edf2f6;
$groupLinkPlaceholderIconArrowColor: #a9b8cb;
$tagRemoveIconColor: #a2aec0;

/*$normalLink: $headerGradientBottom;*/

/* audio controls */
$audioDurationOnHover: #8795a5;
$audioAreaOnHover: #edf1f5;
$audioControlsColor: #6782a2;
$audioProgressTipColor: rgba(194, 206, 218, 0.9);
$audioBackLineColor: #D8DEE4;
$audioLoadLineColor: #BAC7D4;
$audioProgressLineColor: #5C7A99;
$audioSliderColor: #5F7E9E;
$audioTipTextColor: #4D637C;

/* data table */
$dataTableBorder: #d2d8df;
$dataTableBorderLight: #ecf0f5;
$dataTableHeaderBackground: #e0e6ec;
$dataTableOddRow: #eff2f4;